<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h5>When it comes to fonts there are two major types: Serif and Sans Serif.</h5>
            <div class="text-center">
                <img src="../../assets/S2JmO.gif" class="mx-auto" alt="">
            </div>
            <h2>Serif</h2>
            <h5>Serifs are semi-structural details or small decorative flourishes on the ends of some of the strokes that make up letters and symbols. An example would be the Times New Roman font. 
                It is said that serif fonts are usually easier to read in larger text areas like in books, magazines, in body content on websites.
            </h5>
            <h2>Sans Serif</h2>
            <h5>
                Sans serif does not have these details or flourishes. An example would be the Helvetica font.
                Sans serif fonts are used regularly because of how clean they tend to look in those main text areas.
            </h5>
            <br>
            <app-font-card></app-font-card>
            <br>
        </div>
    </div>
</div>