
<div class="container">
  <div class="row justify-content-center">
    <div class="card border-dark col-8">
      <div class="card-body">
        <h5 class="card-title">Serif vs Sans Serif</h5>
        <hr>
        <div class="timesnewroman"> 
          <h6 class="card-subtitle mb-2 text-muted">Times New Roman</h6>
          <p class="card-text">{{sampleParah}}</p>
        </div>
        <br>
        <div class="helvetica"> 
          <h6 class="card-subtitle mb-2 text-muted">Helvetica</h6>
          <p class="card-text">{{sampleParah}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
