@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

.timesnewroman{
font-family: 'Times New Roman', serif;
font-size: 15px;
}

.helvetica{
font-family: 'Helvetica', sans-serif;
font-size: 14px;
}