<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <div>
                <img src="../../assets/preet_photo.jpg" alt="Preet Photo" style="border-radius: 50%; width: 200px;">
            </div>
            <div>
                <h4>Hi, my name is Preet</h4>
            </div>
            <h6>I created this project to try and compare different fonts.</h6>
            <h6>Fonts sourced from <a class="text-decoration-none" href="https://fonts.google.com/">Google fonts</a></h6>
            <h6>Code available on <a class="text-decoration-none" href="https://fonts.google.com/">Github</a></h6>
            <h6>Created using <a class="text-decoration-none" href="https://angular.io/">Angular</a></h6>
        </div>
    </div>
</div>